{{ define "main" }}
{{ if .Content }}
<article>
	{{ .Content -}}
</article>
{{ else }}
<h1>{{ .Title }}</h1>
{{ end }}
<table class="posts">
	<tr>
		<th>Title</th>
		<th>Tags</th>
	</tr>
	{{ range .Paginator.Pages }}
	<tr>
		<td><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></td>
		<td>{{ range .Params.tags }}<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">#{{ . }}</a>&nbsp; {{ end }}</td>
	</tr>
	{{ end }}
</table>
{{ end }}
