<footer>
	<div class="mirror">
	[<a rel="rss" href="/index.xml">rss</a>]
	[*Insert mirrors here*]
	<a rel="lisence" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC BY-SA 4.0" src="/stickers/cc4.png"></a>
	</div>
</footer>
