<div class="logo">
	<img src="/logoOptimised.png" />
	<h1>
	<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
		{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}Void{{ end }}
	</a>
	</h1>
</div>
