<menu>
	<a href="/">home<br/></a> {{ range $.Site.Menus.main }} {{ if not .HasChildren }}
	<a href="{{ .URL }}">{{ .Name }}<br/></a> {{ end }} {{ end }}
<hr />
	{{ range $.Site.Menus.services }} {{ if not .HasChildren }} <a href="{{ .URL }}">{{ .Name }}<br/></a> {{ end }} {{ end }}
</menu>
