<div class="pagination__buttons">
{{ if .Paginator.HasPrev }}
		<a class="button prev" href="{{ .Paginator.Prev.URL }}"> {{ $.Site.Params.newerPosts | default "Newer posts" }} </a>
{{ end }}
{{ if .Paginator.HasNext }}
		<a class="button next" href="{{ .Paginator.Next.URL }}"> {{ $.Site.Params.olderPosts | default "Older posts" }} </a>
{{ end }}
</div>