<div class="pagination__buttons">
{{ if .NextInSection }}
	<a class="button prev" href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a>
{{ end }}
{{ if .PrevInSection }}
	<a class="button next" href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>
{{ end }}
</div>