<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} | {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body>
	{{ partial "logo.html" . }}
	{{ partial "menu.html" . }}
	<h1 class="page-head">{{ .Title | markdownify }}</h1>
	<main>
	{{ block "main" . }}
	{{ end }}
	</main>
	{{ block "footer" . }}
	{{ partial "footer.html" . }}
	{{ end }}

</body>
</html>
