{{ define "main" }}
{{ if .Content }}
<article>
	{{ .Content -}}
</article>
{{ end }}
<div class="posts">
	<table class="post-entry-meta">
		{{ range .Paginator.Pages }}
		<tr>
			<td><a href="{{ .RelPermalink }}">{{ .Title | markdownify}}</a></td>
			<td>{{ .Params.Date.Format "2006-01-02" }}</td>
			<td>{{ .Params.Author }}</td>
			<td > {{ range .Params.tags }} #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp; {{ end }}</td>
			<!--
			{{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}
			<td class="post-reading-time">- {{ .ReadingTime }} min read ({{ .WordCount }} words)</td>
			{{ end }}
			-->
		</tr>
		{{ end }}
	</table>
</div>
{{ partial "pagination.html" . }}
{{ end }}
