{{ define "main" }}
{{ if eq .Type $.Site.Params.contentTypeName }}
<div class="post-meta">
	{{ if .Params.Date }} <span class="post-date"> {{ .Date.Format "2006-01-02" }} </span> {{ end }}
	{{ with .Params.Author }} <span> - </span> <span class="post-author">{{ . }}</span> {{ end }}
	<span class="post-reading-time">- {{ .ReadingTime }} min read ({{ .WordCount }} words)</span>
	</span>

	{{ if .Params.tags }}
	<span class="post-tags">
		{{ range .Params.tags }}
		#<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
		{{ end }}
	</span>
	{{ end }}
	</div>
{{ end }}

{{ if (.Params.Toc | default .Site.Params.Toc) }}
<div class="table-of-contents">
	<h2>
		{{ (.Params.TocTitle | default .Site.Params.TocTitle) | default "Table of Contents" }}
	</h2>
	{{ .TableOfContents }}
</div>
{{ end }}

{{ if eq .Type $.Site.Params.contentTypeName }}
<div class="post-content">
	{{- with .Content -}}
	{{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1} <a href="#${2}" class="anchor" ariaLabel="Anchor">#</a> ${3}` | safeHTML }}
	{{- end -}}
</div>
{{ else }}
{{ .Content }}
{{ end }}

{{ if eq .Type $.Site.Params.contentTypeName }}
{{ partial "posts_pagination.html" . }}
{{ end }}

</div>
{{ end }}
