<link rel='stylesheet' type='text/css' href='{{ .Site.BaseURL }}style.css' />
<link rel='alternate' type='application/rss+xml' title='{{ .Site.Title }} RSS' href='/index.xml'>
<meta name='viewport' content='width=device-width, initial-scale=1' />
<meta charset='UTF-8' />
<meta name='description' content='{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}'>
{{ if $.Site.Params.pwa }}<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json" />{{ end }}
