<menu type="toolbar">
    {{range $name, $taxonomy := .Site.Taxonomies.tags}}
        {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
            <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">#{{$name}}</a>
        {{end}}
    {{end}}
</menu>