<!DOCTYPE html>
<html>
<head>
	{{- partial "head.html" . -}}
	<title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} | {{ $.Site.Title }}{{ end }}</title>
</head>
	<body>
		{{- partial "header.html" . -}}
		<main>
			{{- block "main" . }}{{- end }}
		</main>
		{{- partial "footer.html" . -}}
	</body>
</html>
