{{ define "main" }}
{{ if .Content }}
<article>
	{{ .Content -}}
</article>
{{ else }}
<h1>{{ .Title }}</h1>
{{ end }}
<div class="posts">
	<table>
	{{ range .Paginator.Pages }}
	<tr>
		<td><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></td>
		<td>{{ .Params.Author }}</td>
		<td class="post-tags"> {{ range .Params.tags }} #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp; {{ end }}</td>
	</tr>
	{{ end }}
	</table>
</div>
{{ end }}
