<!--
	class: class of the figure
	width: width of the video player
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
	src: source of the video
	type: type of the video
-->
<!--
<figure {{ with .Get "class" }}class="{{.}}"{{ end -}}>
	<video {{- with .Get "width" }} width="{{.}}"{{ end -}} {{- with .Get "mouse" }} title="{{.}}"{{ end -}} {{- with .Get "alt" }} alt="{{.}}"{{ end -}}>
		<source src="{{ .Get "src" }}" type="{{ .Get "type" }}" controls >
	</video>
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . -}}
	</figcaption>
	{{- end -}}
</figure>
-->
<figure {{ with .Get "class" }}class="{{.}}"{{ end -}}>
	<video {{- with .Get "width" }} width="{{.}}"{{ end -}} {{- with .Get "mouse" }} title="{{.}}"{{ end -}} {{- with .Get "alt" }} alt="{{.}}"{{ end -}} controls>
		<source src="{{ .Get "src" }}" type="{{ .Get "type" }}" controls >
	</video>
	{{- with .Get "caption" -}}
	<figcaption>
		<i>
			{{- . -}}
		</i>
	</figcaption>
	{{- end -}}
</figure>
